.container-contact {
  padding-top: 100px;
  padding-bottom: 102px;
  padding-left: 30px;
  padding-right: 30px;
}

.footer {
  bottom: 0;
}

.contact-input::placeholder {
  font-family: "Raleway";
}

.submit-flex {
  display: flex;
  justify-content: center;
}

.contact-agree-data {
  font-size: 14px;
}

.contact-card {
  display: flex;
  justify-content: space-evenly;
  border-radius: 15px;
  background-color: #f2f1f1;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-input {
  border: 1px solid #008000;
  border-radius: 10px;
  padding: 8px 20px;
}

.contact-label {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.contact-label-data {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.contact-textarea {
  border: 1px solid #008000;
  border-radius: 10px;
  padding: 10px 20px;
  height: 150px;
}

.contact-textarea::placeholder {
  font-family: "Raleway";
}

.contact-submitted {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  background-color: #f2f1f1;
  text-align: center;
}

iframe {
  width: 600px;
  height: 450px;
  border: none;
    border-radius: 15px;
}
