.container-contact {
  padding-top: 75px;
  padding-bottom: 77px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: center;
}

.container-contact-send {
  padding-top: 75px;
  padding-bottom: 77px;
  padding-left: 30px;
  padding-right: 30px;
  height: 550px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container-imprint {
  padding-top: 75px;
  padding-bottom: 77px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: center;
}
.container-data {
  padding-top: 75px;
  padding-bottom: 77px;
  padding-left: 30px;
  padding-right: 30px;
  min-height: 560px;
  display: flex;
  justify-content: center;
}

.footer {
  bottom: 0;
}

.contact-input::placeholder {
  font-family: "Raleway";
}

.submit-flex {
  display: flex;
  justify-content: center;
}

.contact-agree-data {
  font-size: 14px;
}

.contact-card {
  display: flex;
  justify-content: center;
  border-radius: 15px;
  background-color: #f2f1f1;
  padding: 30px 0px;
  gap: 30px;
  width: 800px;
}

.contact-card-send {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  background-color: #f2f1f1;
  padding: 30px 30px;
  gap: 30px;
  height: 200px;
  text-align: center;
  align-items: center;
}

.button-sendmail {
  background-color: green;
  border-style: none;
  border-radius: 10px;
  padding: 10px 50px;
  color: white;
  width: 225px;
  cursor: pointer;
}

.button-back {
  background-color: green;
  border-style: none;
  border-radius: 10px;
  padding: 10px 50px;
  color: white;
  width: 225px;
  cursor: pointer;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-input {
  border: 1px solid #008000;
  border-radius: 10px;
  padding: 8px 20px;
}

.rec-dropdown {
  border: 1px solid #008000;
  border-radius: 10px;
  padding: 8px 15px;
  font-family: "Raleway";
}

.contact-input:focus {
  outline-offset: -2px;
  outline: 2px solid #008000;
}
.contact-textarea:focus {
  outline-offset: -2px;
  outline: 2px solid #008000;
}
.rec-dropdown:focus {
  outline-offset: -2px;
  outline: 2px solid #008000;
}

.contact-label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 0 0 20px 0;
}

.contact-label-data {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  padding-bottom: 20px;
}

h2 {
  padding: 0 0 5px 0;
}
.contact-textarea {
  border: 1px solid #008000;
  border-radius: 10px;
  padding: 8px 20px;
  height: 150px;
  font-family: "Raleway";
}

.contact-textarea::placeholder {
  font-family: "Raleway";
}

.contact-submitted {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  background-color: #f2f1f1;
  text-align: center;
}

iframe {
  width: 400px;
  height: 100%;
  border: none;
  border-radius: 15px;
}

/* 900px */

@media (max-width: 900px) {
  .contact-card {
    justify-content: space-between;
    padding: 30px 30px;
  }
  .contact-agree-data {
    text-align: center;
  }
  input.data-checkbox {
    height: 25px;
    width: 25px;
    margin-left: 10px;
  }
  .contact-label {
    padding-top: 10px;
    gap: 10px;
  }
}

/* 750px */

@media (max-width: 750px) {
  .contact-card {
    justify-content: space-between;
    flex-direction: column;
    padding: 30px 30px;
  }
  .container-contact {
    padding: 50px 10px 53px 10px;
  }
  .container-data {
    padding: 50px 10px 53px 10px;
  }

  iframe {
    width: 100%;
    height: 40%;
  }
  .submit-flex {
    padding-top: 10px;
  }
  .contact-label-data {
    padding: 0px 0 10px 0;
    justify-content: center;
    align-items: center;
  }
}

/* 440px */

@media (max-width: 440px) {
  .contact-label-data {
    justify-content: space-between;
  }

  .contact-agree-data {
    text-align: center;
  }

  .button-sendmail {
    width: 100%;
  }
}
