* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Raleway", "sans-serif";
  scroll-behavior: smooth;
}

h1 {
  margin-bottom: 20px;
}

.link {
  text-decoration: none;
  color: black;
}

.navigation {
  box-shadow: 6px 4px 6px rgba(17, 3, 3, 0.14);
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.nav-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 180px 0 180px;
}

.nav-img {
  height: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-bar {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 35px;
}

.nav-link {
  color: black;
  text-decoration: none;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 500;
  text-wrap: nowrap;
}

.nav-link:hover {
  color: green;
  text-decoration: underline;
  padding-bottom: 0px;
  text-underline-offset: 100%;
  text-decoration-thickness: 3px;
}

.head-content {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 100%;
  background-color: white;
}

.croissant-img {
  height: 350px;
  border-radius: 5px;
  margin-left: 180px;
}

.new-img-gruenkohl {
  background-image: url("../img/gruenkohl.jpg");
  overflow: hidden;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  transition: transform 750ms;
}

.new-img-kaesespaetzle {
  background-image: url("../img/kaesespaetzle.jpg");
  overflow: hidden;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  transition: transform 750ms;
}
.new-img-zombiegrab {
  background-image: url("../img/zombiegrab.webp");
  overflow: hidden;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  transition: transform 750ms;
}

.new-img-gruenkohl:hover {
  transform: scale(1.1);
  overflow: hidden;
  border-radius: 10px;
}

.new-img-wok {
  background-image: url("../img/wok.jpg");
  width: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 750ms;
}

.new-img-wok:hover {
  transform: scale(1.1);
  overflow: hidden;
  border-radius: 10px;
}

.new-img-kaesespaetzle:hover {
  transform: scale(1.1);
  overflow: hidden;
  border-radius: 10px;
}
.new-img-zombiegrab:hover {
  transform: scale(1.1);
  overflow: hidden;
  border-radius: 10px;
}

.content-header {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  padding-left: 40px;
}

.button {
  width: 200px;
  padding: 12px 30px;
  margin-top: 130px;
  color: white;
  background-color: green;
  border-style: none;
  cursor: pointer;
}

.main-content {
  background-color: rgba(202, 199, 199, 0.247);
  padding-bottom: 30px;
}

.top-text {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.content {
  display: flex;

  justify-content: space-between;
  margin-left: 180px;
  margin-right: 180px;
}

.content-column {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-img {
  height: 240px;
  width: 260px;
  border-radius: 5px;
}

h4 {
  padding-top: 15px;
  color: black;
}

.desc {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 180px;
  margin-right: 180px;
  margin-bottom: 30px;
}

span {
  padding-right: 50px;
  text-align: justify;
  line-height: 30px;
  max-width: 950px;
}

/* Rezept des Tages */

.daily-margin {
  margin: 0 180px 0 180px;
}

.daily-head {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.box {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.daily-head-img {
  background-image: url("../img/salad.jpg");
  overflow: hidden;
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  transition: transform 750ms;
}

.daily-head-img:hover {
  transform: scale(1.1);
  overflow: hidden;
  border-radius: 10px;
}

.daily-head-icon {
  width: 15px;
}

.daily-head-cred {
  display: flex;
  gap: 15px;
  margin: 25px 0;
}

.daily-cred {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  background-color: #efefef;
  padding: 5px 10px;
  border-radius: 5px;
}

.daily-ing {
  border-top: 2px solid #efefef;
  height: 10px;
  margin-top: 30px;
}

.ing-amount-port {
  display: flex;
  align-items: center;
  margin-top: 10px;
  height: 30px;
}

.ing-button {
  width: 140px;
  color: white;
  background-color: green;
  border-style: none;
  cursor: pointer;
  color: white;
  text-decoration: none;
  border: 9.5px solid green;
}

.ing-input {
  height: 100%;
  margin-left: 15px;
  border: 2px solid #efefef;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 120px;
  padding-left: 10px;
}
.ingredient-odd {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  background-color: #efefef;
  border-radius: 10px;
  min-height: 46px;
  
  /* für einen kleinen Rand */
  border-color: #efefef;
  border-style: solid;
  border-width: 1px;

}
.ingredient-even {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  min-height: 46px;
  border-radius: 10px;
  
  /* für einen kleinen Rand */
  border-color: #efefef;
  border-style: solid;
  border-width: 1px;
}

.ingredient-whatFor-odd{
  font-weight: bold;
  padding: 20px 0 0 5px;
}

.ingredient-whatFor-even{
  font-weight: bold;
  padding: 20px 0 10px  5px;
}
.sec-ing {
  margin: 15px 0 35px 0;
}

.ing-amount {
  padding: 15px 0 15px 25px;
}

.recp-text {
  margin-bottom: 25px;
}

.img-autor-lukas {
  height: 80px;
  width: 80px;
  background-image: url(../img/Lukas.jpg);
  border-radius: 50%;
  background-size: cover;
  margin: 20px 20px 20px 0px;
}

.autor-box {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  font-size: 24px;
  font-weight: 300;
}

.rec-gruen {
  background-image: url("../img/gruenkohl.jpg");
  overflow: hidden;
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  transition: transform 750ms;
}

.rec-gruen:hover {
  transform: scale(1.1);
  overflow: hidden;
  border-radius: 10px;
}

.rec-curry {
  background-image: url("../img/currywurst.jpeg");
  overflow: hidden;
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  transition: transform 750ms;
}

.rec-curry:hover {
  transform: scale(1.1);
  overflow: hidden;
  border-radius: 10px;
}

.rec-kaesespaetzle-img {
  background-image: url("../img/kaesespaetzle.jpg");
  overflow: hidden;
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  transition: transform 750ms;
}

.rec-kaesespaetzle-img:hover {
  transform: scale(1.1);
  overflow: hidden;
  border-radius: 10px;
}

.rec-zombiegrab-img {
  background-image: url("../img/zombiegrab.webp");
  overflow: hidden;
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  transition: transform 750ms;
}

.rec-zombiegrab-img:hover {
  transform: scale(1.1);
  overflow: hidden;
  border-radius: 10px;
}

.img-autor-mario {
  height: 80px;
  width: 80px;
  background-image: url("../img/mario.png");
  border-radius: 50%;
  background-size: cover;
  margin: 20px 20px 20px 0px;
}

.contact-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
  margin: auto;
  border-radius: 15px;
  margin-top: 80px;
  background-color: #f2f1f1;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80%;
  justify-content: space-between;
}

.contact-label {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.contact-input {
  border: 1px solid #008000;
  border-radius: 2px;
  padding: 8px 20px;
}

.contact-textarea {
  border: 1px solid #008000;
  border-radius: 2px;
  padding: 10px 20px;
  height: 150px;
}

.contact-textarea::placeholder {
  font-family: "Raleway";
}

.contact-input::placeholder {
  font-family: "Raleway";
}

.contact-label-data {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.contact-agree-data {
  font-size: 14px;
}

.submit-flex {
  display: flex;
  justify-content: center;
}

.contact-submitted {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-direction: column;
  height: 500px;
  width: 500px;
  margin: auto;
  border-radius: 15px;
  margin-top: 80px;
  background-color: #f2f1f1;
  text-align: center;
}

.link {
  text-decoration: none;
  color: white;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.footer-img {
  height: 60px;
}

.footer-icons {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.footer-icon {
  height: 30px;
}
