* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Raleway", "sans-serif";
  scroll-behavior: smooth;
}

h1 {
  margin-bottom: 20px;
}

.link {
  text-decoration: none;
  color: black;
}

.navigation {
  box-shadow: 6px 4px 6px rgba(17, 3, 3, 0.14);
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.nav-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 180px 0 180px;
}

.nav-img {
  height: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-bar {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 20px;
}

.nav-link {
  color: black;
  text-decoration: none;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 500;
  text-wrap: nowrap;
}

.nav-link:hover {
  color: green;
  text-decoration: underline;
  padding-bottom: 0px;
  text-underline-offset: 100%;
  text-decoration-thickness: 3px;
}

.head-content {
  display: flex;
  justify-content: space-between;
  margin-top: 160px;
  margin-bottom: 60px;
  width: 100%;
  background-color: white;
}

.croissant-img {
  height: 350px;
  border-radius: 5px;
  margin-left: 180px;
}

.new-img-gruenkohl {
  background-image: url("../img/gruenkohl.jpg");
  overflow: hidden;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  transition: transform 750ms;
}

.new-img-kaesespaetzle {
  background-image: url("../img/kaesespaetzle.jpg");
  overflow: hidden;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  transition: transform 750ms;
}

.new-img-gruenkohl:hover {
  transform: scale(1.1);
  overflow: hidden;
  border-radius: 10px;
}

.new-img-wok {
  background-image: url("../img/wok.jpg");
  overflow: hidden;
  width: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  transition: transform 750ms;
}

.new-img-wok:hover {
  transform: scale(1.1);
  overflow: hidden;
  border-radius: 10px;
}

.new-img-kaesespaetzle:hover {
  transform: scale(1.1);
  overflow: hidden;
  border-radius: 10px;
}

.content-header {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  padding-left: 40px;
}

.button {
  width: 200px;
  padding: 12px 30px;
  margin-top: 130px;
  color: white;
  background-color: green;
  border-style: none;
  cursor: pointer;
}

.main-content {
  background-color: rgba(202, 199, 199, 0.247);
  padding-bottom: 30px;
}

.top-text {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.content {
  display: flex;

  justify-content: space-between;
  margin-left: 180px;
  margin-right: 180px;
}

.content-column {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}

.main-img {
  height: 240px;
  width: 260px;
  border-radius: 5px;
}

h4 {
  padding-top: 15px;
}

.desc {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 180px;
  margin-right: 180px;
  margin-bottom: 30px;
}

span {
  padding-right: 50px;
  text-align: justify;
  line-height: 30px;
  max-width: 950px;
}

/* Rezept des Tages */

.daily-margin {
  margin: 0 180px 0 180px;
}

.daily-head {
  display: flex;
  flex-direction: column;
  margin-top: 160px;
}

.box {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.daily-head-img {
  background-image: url("../img/salad.jpg");
  overflow: hidden;
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  transition: transform 750ms;
}

.daily-head-img:hover {
  transform: scale(1.1);
  overflow: hidden;
  border-radius: 10px;
}

.daily-head-icon {
  width: 15px;
}

.daily-head-cred {
  display: flex;
  gap: 15px;
  margin: 25px 0;
}

.daily-cred {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  background-color: #efefef;
  padding: 5px 10px;
  border-radius: 5px;
}

.daily-ing {
  border-top: 2px solid #efefef;
  height: 10px;
  margin-top: 30px;
}

.ing-amount-port {
  display: flex;
  align-items: center;
  margin-top: 10px;
  height: 30px;
}

.ing-button {
  width: 140px;
  color: white;
  background-color: green;
  border-style: none;
  cursor: pointer;
  border: 9.5px solid green;
}

.ing-input {
  height: 100%;
  margin-left: 15px;
  border: 2px solid #efefef;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 120px;
  padding-left: 10px;
}
.ingredient-odd {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  background-color: #efefef;
  border-radius: 10px;
  min-height: 46px;
}
.ingredient-even {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  min-height: 46px;
  border-radius: 10px;
}

.sec-ing {
  margin: 15px 0 35px 0;
}

.ing-amount {
  padding: 15px 0 15px 25px;
}

.recp-text {
  margin-bottom: 25px;
}

.img-autor-lukas {
  height: 80px;
  width: 80px;
  background-image: url(../img/Lukas.jpg);
  border-radius: 50%;
  background-size: cover;
  margin: 20px 20px 20px 0px;
}

.autor-box {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  font-size: 24px;
  font-weight: 300;
}

.rec-gruen {
  background-image: url("../img/gruenkohl.jpg");
  overflow: hidden;
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  transition: transform 750ms;
}

.rec-gruen:hover {
  transform: scale(1.1);
  overflow: hidden;
  border-radius: 10px;
}

.rec-kaesespaetzle-img {
  background-image: url("../img/kaesespaetzle.jpg");
  overflow: hidden;
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  transition: transform 750ms;
}

.rec-kaesespaetzle-img:hover {
  transform: scale(1.1);
  overflow: hidden;
  border-radius: 10px;
}

.img-autor-mario {
  height: 80px;
  width: 80px;
  background-image: url("../img/mario.png");
  border-radius: 50%;
  background-size: cover;
  margin: 20px 20px 20px 0px;
}

.contact-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
  width: 500px;
  border: 3px solid black;
}
