<footer class="footer padding-topbot">
  <div class="footer-content margin-side">
    <div class="footer-start">
      <img src="./img/icons/c.png" class="c-icon" /> Mario Markwart, Lukas
      Nolting
    </div>

    <a href=".././privacy.html" class="footer-link">Datenschutz</a>

    <div class="footer-icons">
      <a href="https://www.facebook.com"
        ><img src="./img/icons/facebook.png" alt="facebook" class="footer-icon"
      /></a>
      <a href="https://www.twitter.com"
        ><img src="./img/icons/twitter.png" alt="facebook" class="footer-icon"
      /></a>
      <a href="https://www.instagram.com"
        ><img
          src="./img/icons/instagram.webp"
          alt="facebook"
          class="footer-icon"
      /></a>
      <a href="#top">
        <img
          src="./img/logo_small_arrow_above.png"
          alt="logo klein"
          class="footer-icon logo-small-d-none"
        />
      </a>
    </div>
    <a href="#top">
      <img
        src="./img/logo_small_arrow_above.png"
        alt="logo klein"
        class="footer-logo-small logo-small-d-none-media"
      />
    </a>
  </div>
</footer>
