<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
  </head>
  <body>
    <div class="nav-head margin-side">
      <a href=".././index.html"
        ><img class="nav-img" src="../img/logo.png" alt="Kochwelt-Logo"
      /></a>

      <!-- BURGER MENU-->

      <div onclick="dialogRemove()" id="dialog" class="dialog-bg d-none">
        <div class="dialog" id="burger-dialog">
          <div class="burger-menu">
            <img
              src="../img/icons/burger-close.svg"
              onclick="dialogRemove()"
              class="burger-close"
              id="menu-button"
            />
            <a href=".././index.html" class="burger-menu-links">Startseite</a>
            <a href=".././daily_reciept.html" class="burger-menu-links"
              >Rezept des Tages</a
            >
            <a href=".././kontakt.html" class="burger-menu-links">Kontakt</a>
            <a href=".././imprint.html" class="burger-menu-links">Impressum</a>
            <a href=".././privacy.html" class="burger-menu-links"
              >Datenschutz</a
            >
          </div>
        </div>
      </div>
      <img
        src=".././img/icons/burger.svg"
        onclick="dialogShow()"
        class="burger-none nav-img-burger"
        id="menu-button"
      />

      <!-- ENDE BURGER MENU -->

      <div class="nav-bar">
        <a href=".././index.html" class="nav-link">Start</a>
        <a href=".././daily_reciept.html" class="nav-link">Rezept des Tages</a>
        <a href=".././kontakt.html" class="nav-link">Kontakt</a>
        <a href=".././imprint.html" class="nav-link">Impressum</a>
      </div>
    </div>
  </body>
</html>
